html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
    background-image: url('../images/header-background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

header {
    height: 100vh;
    min-height: 500px;
    background-image: url('../images/header-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#scroll {
    width: 40px;
}

.content {
    min-height: 85vh;
    background: #fff;
}

.icon {
    width: 40px;
}

.page-footer {
    background-color: #222;
    color: #ccc;
}

.footer-copyright {
    color: #666;
}

/* nav bar */

.navbar {
    background:#411a00;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #000;
}

.navbar-collapse {
    justify-content: flex-end;
}